a.brand-logo {
    margin-left: 2%;
}

.think, .with, .google {
  font-size: 24px;
}

.container {
  width: 90vw;
  padding-top: 5vh;
}

.top .bottom {
  display: inline-block;
}

.big-card1 {
  background: url(../img/surf.jpg) center no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: 8px;
}

.big-card2 {
  background: url(../img/tunnel.jpg) center no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: 8px;
}

h3 {
    color: white;
    margin-top: 312px;
    font-size: 18px;
    margin-left: 43px;
    line-height: 1.4;
    font-weight: 300;
}

/*h3.thin {
    margin-bottom: 50px;
    margin-left: 43px;
    line-height: 1.4;
    font-weight: 300;
    font-size: 14px;
    color: white;
}*/

img {
  max-width: 100%;
}

.card .card-action {
  border: 0;
}
h3.card-title {
    margin: 10% auto;
}

@media screen and (max-width: 462px){
  .think, .with {
    display: none;
  }
}

@media screen and (max-width: 675px){
  form {
    display: none;
  }
  .card.horizontal .card-image img {
    min-width: 200px;
  }
}
