a.brand-logo {
    margin-left: 2%;
}

.think, .with, .google {
  font-size: 24px;
}

.container {
  width: 90vw;
  padding-top: 5vh;
}

.container .card {
  height: 65vh;
}

img {
  max-width: 100%;
}

.card .card-action {
  border: 0;
}
span.card-title.big-card {
    margin: 10% auto;
}

@media screen and (max-width: 462px){
  .think, .with {
    display: none;
  }
}
@media screen and (max-width: 675px){
  form {
    display: none;
  }
  .card.horizontal .card-image img {
    min-width: 200px;
  }
}
