a.brand-logo {
    margin-left: 2%;
}

.think, .with, .google {
  font-size: 24px;
}

.container {
  width: 90vw;
  padding-top: 5vh;
}

.big-card1 {
  background: url(../img/surf.jpg) center no-repeat;
  background-size: contain;
  width: 100%;
  height: 400px;
}

img {
  max-width: 100%;
}

.card .card-action {
  border: 0;
}
h3.card-title {
    margin: 10% auto;
}

@media screen and (max-width: 462px){
  .think, .with {
    display: none;
  }
}

@media screen and (max-width: 675px){
  form {
    display: none;
  }
  .card.horizontal .card-image img {
    min-width: 200px;
  }
}
